@import "myimport";
$main_bgColor: rgb(82, 14, 14);
$main_fontSize: 18px;
$main_btnColor: blue;

* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: $main_bgColor;
  font-size: $main_fontSize;
  padding: 15px 0px;
  color: white;
  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
}
